[Unit]
Description=Dashboard service
After=network-online.target multi-user.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/offroad/lib
ExecStart=/home/pi/offroad/dashboard.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
